@model ArtShop.Entities.Model.Artist

@{
    ViewBag.Title = "Borrado de artista";
}

<div id="content-wrapper">
    <section id="contact" class="white">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item " aria-current="page"><a href="/Home/"><strong>Inicio</strong></a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="/Artista/Index"><strong>Artistas</strong></a></li>
                <li class="breadcrumb-item active"><strong>Borrar</strong></li>
            </ol>

        </nav>
        <div class="container">


            <h2>Borrado de artista</h2>

            <h3>Esta seguro que quiere eliminar este artista?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LifeSpan)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LifeSpan)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalProducts)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TotalProducts)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChangedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChangedOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChangedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChangedBy)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Borrar" class="btn btn-danger" />
                        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>


        </div>
    </section>
</div>